## **Assignment Solutions - Data Types & Structures**

**Q: What are data structures, and why are they important?**

A: Data structures are ways to organize and store data so that it can be accessed and modified
efficiently. They are important because they affect performance, memory usage, and the complexity
of algorithms.

 **Q: Explain the difference between mutable and immutable data types with
examples?**

A: Mutable types (e.g., list, dict, set) can be changed after creation. Immutable types (e.g., int, float,
str, tuple) cannot be altered; any 'change' creates a new object.

**Q: What are the main differences between lists and tuples in Python?**

A: Lists are mutable, support dynamic resizing, and have many methods (append, pop). Tuples are
immutable, can be used as keys in dictionaries (if they contain immutables), and typically have a
smaller memory footprint.

**Q: Describe how dictionaries store data?**

A: Dictionaries store data as key-value pairs using a hash table internally. Keys are hashed to
determine where values are stored, enabling average O(1) access time.

**Q: Why might you use a set instead of a list in Python?**

A: Sets automatically remove duplicates and provide fast membership testing (average O(1)),
making them ideal when uniqueness or fast lookups are needed.

**Q: What is a string in Python, and how is it different from a list?**

A: A string is an immutable sequence of characters. Unlike lists, strings cannot be modified in-place
and support string-specific methods (split, join, replace).

**Q: How do tuples ensure data integrity in Python?**

A: Tuples are immutable, so once created their contents cannot change, which helps maintain
consistent state for data that should not be modified.

**Q: What is a hash table, and how does it relate to dictionaries in Python?**

A: A hash table is a data structure that maps keys to values using a hash function. Python
dictionaries are implemented using hash tables.

**Q: Can lists contain different data types in Python?**

A: Yes, lists are heterogeneous and can contain elements of different types within the same list.

**Q: Explain why strings are immutable in Python?**

A: Strings are immutable to make them hashable (so they can be dictionary keys), to simplify
memory management, and to avoid unexpected side-effects when sharing string objects.

**Q: What advantages do dictionaries offer over lists for certain tasks?**

A: Dictionaries provide O(1) average-time lookup by key and explicit mapping between keys and
values, which is more efficient than searching a list when you need direct access.

**Q: Describe a scenario where using a tuple would be preferable over a list?**

A: Use a tuple for fixed records like coordinates (x, y) or function return values that should not be
modified.

**Q: How do sets handle duplicate values in Python?**

A: Sets automatically discard duplicates; adding an already-present element has no effect.

**Q: How does the 'in' keyword work differently for lists and dictionaries?**

A: 'in' checks for membership in a list by scanning elements (O(n)). For dictionaries, 'in' checks keys
using the hash table (average O(1)).

**Q: Can you modify the elements of a tuple? Explain why or why not?**

A: No â€” tuples are immutable. You cannot change elements in-place; you must create a new tuple
if you need a modified sequence.

**Q: What is a nested dictionary, and give an example of its use case?**

A: A nested dictionary is a dictionary containing other dictionaries as values. Use-case: storing
structured data like user profiles: users = {1: {'name':'A','age':22}, 2: {'name':'B','age':25}}.

**Q: Describe the time complexity of accessing elements in a dictionary?**

A: Average-case O(1) for lookup, insertion, and deletion; worst-case can degrade depending on
hash collisions but Python mitigates this.

**Q: In what situations are lists preferred over dictionaries?**

A: Lists are preferred for ordered collections, when you need slicing, when duplicate elements are
allowed, or when iteration order matters.

 **Q: Why are dictionaries considered unordered, and how does that affect data
retrieval?**

A: Historically dictionaries were unordered, but since Python 3.7 they preserve insertion order. They
are optimized for key-based access, not positional indexing.

 **bQ: Explain the difference between a list and a dictionary in terms of data
retrieval?**

A: Lists retrieve by index (position), while dictionaries retrieve by key (content). Lists are O(1) for
index access but O(n) to search by value; dictionaries are O(1) average to fetch by key

#                      **Practical     Questions - Code**

**Create a string with your name and print it**

In [1]:
name = "Himanshi"
print(name)

Himanshi

**Find the length of the string 'Hello World'**

In [2]:
s = "Hello World"
print(len(s))

11

**Slice the first 3 characters from 'Python Programming'**

In [3]:
s = "Python Programming"
print(s[:3])

Pyt

**Convert the string 'hello' to uppercase**

In [4]:
print("hello".upper())

HELLO

**Replace 'apple' with 'orange' in 'I like apple'**

In [5]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

**Create a list with numbers 1 to 5 and print it**

In [6]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

**Append the number 10 to the list [1, 2, 3, 4]**

In [7]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

**Remove the number 3 from the list [1, 2, 3, 4, 5]**

In [8]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

**Access the second element in the list ['a', 'b', 'c', 'd']**

In [9]:
lst = ['a','b','c','d']
print(lst[1])

b

**Reverse the list [10, 20, 30, 40, 50]**

In [10]:
lst = [10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

**Create a tuple with elements 100, 200, 300 and print it**

In [11]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

**Access the second-to-last element of ('red','green','blue','yellow')**

In [12]:
t = ('red','green','blue','yellow')
print(t[-2])

blue

**Find the minimum number in (10,20,5,15)**

In [13]:
t = (10,20,5,15)
print(min(t))

5

**Find the index of 'cat' in ('dog','cat','rabbit')**

In [14]:
t = ('dog','cat','rabbit')
print(t.index('cat'))

1

**Create a tuple containing three fruits and check if 'kiwi' is in it**

In [15]:
t = ('apple','banana','mango')
print('kiwi' in t)

False

**Create a set with elements 'a','b','c' and print it**

In [16]:
s = {'a','b','c'}
print(s)

{'c', 'a', 'b'}

**Clear all elements from the set {1,2,3,4,5}**

In [17]:
a = {1,2,3,4,5}
a.clear()
print(a)

set()

**Remove the element 4 from the set {1,2,3,4}**

In [18]:
a = {1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

**Find the union of {1,2,3} and {3,4,5}**

In [19]:
a = {1,2,3}
b = {3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

**Find the intersection of {1,2,3} and {2,3,4}**

In [20]:
a = {1,2,3}
b = {2,3,4}
print(a.intersection(b))

{2, 3}

**Create a dictionary with keys 'name','age','city' and print it**

In [21]:
d = {'name':'Himanshi','age':26,'city':'delhi'}
print(d)

{'name': 'Himanshi', 'age': 26, 'city': 'delhi'}

**Add 'country':'USA' to {'name':'John','age':25}**

In [22]:
d = {'name':'John','age':25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

**Access value associated with 'name' in {'name':'Alice','age':30}**

In [23]:
d = {'name':'Alice','age':30}
print(d['name'])

Alice

**Remove key 'age' from {'name':'Bob','age':22,'city':'New York'}**

In [24]:
d = {'name':'Bob','age':22,'city':'New York'}
d.pop('age', None)
print(d)

{'name': 'Bob', 'city': 'New York'}

**Check if key 'city' exists in {'name':'Alice','city':'Paris'}**

In [25]:
d = {'name':'Alice','city':'Paris'}
print('city' in d)

True

**Create a list, a tuple, and a dictionary, and print them all**

In [26]:
lst = [1,2,3]
t = (4,5,6)
d = {'a':1}
print(lst, t, d)

[1, 2, 3] (4, 5, 6) {'a': 1}

**Create a list of 5 random numbers between 1 and 100, sort it, and print**

In [27]:
import random
lst = random.sample(range(1,101), 5)
lst.sort()
print(lst)

[22, 42, 78, 81, 99]

**Create a list with strings and print the element at the third index**

In [28]:
lst = ['one','two','three','four']
print(lst[3])

four

**Combine two dictionaries into one and print the result**

In [30]:
d1 = {'a':1}
d2 = {'b':2}
d = {**d1, **d2}
print(d)

{'a': 1, 'b': 2}

**Convert a list of strings into a set**

In [29]:
lst = ['a','b','a']
print(set(lst))

{'a', 'b'}